body {
  font-family: "Open Sans", Arial, Helvetica;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: black;
}

.container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* The css of the toolbar in the top of the page */

.appBar {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(32, 212, 151);
  color: white;
  font-weight: bolder;

}

.containerBar {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

#sectionBar {
  display: inline-flex;
  text-align: center;
}

#sectionBar h4 {
  margin: 12px 0px 12px 0;

}

#logo {
  height: 30px;
  width: 30px;
  margin: 12px 15px 12px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 12px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 12px;
  color: white;
}

header ul li a:hover {
  border-bottom: 2px solid white;
  padding: 5px;
}
/* properties of the main content */
.mainContainer {
  width: 75%;
}

.subtitle {
  font-weight: 600;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
}
/* Inside the card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border: 0.5px solid rgb(221, 221, 221);
  box-shadow: 6px 7px 10px -2px rgba(29,14,14,0.3);
}

.card h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 1.4em;
}

.card p {
  padding: 5px;
}

/*  the link with style button */
.card a {
  text-decoration: none;
  text-align: center;
  padding: 8px 60px;
  color: white;
  font-size: 1.125em;
  font-weight: bold;
  background: rgb(123, 15, 211);
}

.card a .paw {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

/* Introducing media queries */

@media (max-width:1182px) {

  .cardsContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 25px;
  }

  .card a {
    font-size: 1em;
  }

}


@media (max-width: 760px) {

  .containerBar {
    width: 90%;
  }

  .mainContainer {
    width: 90%;
  }

  .cardsContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 25px;
  }
  
  .card p {
    margin: 8px 0 8px 0;
  }

  .card a {
    font-size: 1em;
  }

  .card a .paw {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

@media  (max-width: 420px) {
  
  .appBar {
    font-size: 0.8em;
  }

  #logo {
    margin: 10px 12px 10px 0;
  }
  #sectionBar h4 {
    margin: 10px 0 10px 0;
  }

  nav {
    margin: 10px 0 10px 0;
  }

  nav ul li {
    margin: 10px 0 10px 0;
  }

  nav ul li a {
    padding: 10px;
  }

  .card p {
    font-size: 0.8em;
  }

  .card a {
    font-size: 0.9em;
  }
}

@media (max-width: 360px)
{
  .appBar {
    font-size: 0.7em;
  }

  #logo {
    height: 20px;
    width: 20px;
  }

  #sectionBar h4 {
    margin: 10px 0 10px 0;
  }
  
  nav {
    margin: 10px;
  }

  nav ul li {
    margin: 8px 0 8px 0;
  }

  nav ul li a {
    padding: 8px;
  }
}